html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

/* ===========================
   USER DASHBOARD PRODUCT CARD
=========================== */

.card{
    border:none;
    border-radius:15px;
    overflow:hidden;
    transition:0.3s ease;
}

.card:hover{
    transform:translateY(-8px);
    box-shadow:0 15px 35px rgba(0,0,0,.15);
}

.card-img-top{
    transition:.4s;
}

.card:hover .card-img-top{
    transform:scale(1.05);
}

.card-title{
    font-size:20px;
    font-weight:700;
    margin-bottom:5px;
}

.text-success{
    font-size:24px;
    font-weight:bold;
}

.badge{
    font-size:12px;
    padding:8px 12px;
    border-radius:30px;
}

.card-footer{
    padding:15px;
}

.card-footer .btn{
    border-radius:30px;
    font-weight:bold;
}